.searchResult {
	padding: 15px 0 10px 15px;
	margin: 10px 0;
	width: 95%;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	font-size: 20px;
	font-weight: 400;
	overflow: hidden;
}

.resultAuthor {
	padding-right: 25px;
	font-size: 12.5px;
	font-weight: 100;
}

.favoriteButton,
.detailsButton,
.editButton {
	float: right;
	margin-right: 20px;
	margin-top: 0;
	font-size: 25px;
	border: 0;
	background-color: inherit;
}

.favoriteButton:hover,
.detailsButton:hover {
	cursor: pointer;
}

button img {
	width: 25px;
}

.detailsButton img {
	width: 28px;
}
